- var portfolios = [{title: "Homejam", link: "https://homejam.herokuapp.com/", description: "A platform for virtual concerts that brings excitement at your fingertips.", variant:"dark"}, {title: 'KaStats', link: 'https://kastats.gitlab.io', description: 'A tool to aid calculations in Probability and Statistics.', variant: 'primary'}, {title: 'TurningIdeas Ventures', link: 'https://turningideas.com/', description: 'The website revamped in collaboration with the designers.', variant: 'info'}, {title: 'Blog Demo', link: 'https://kkagrawal.gitlab.io/blog', description: 'A personal blog project.', variant: 'danger'}]

//- h2.title.mb-5 Portfolio
//- .container-fluid
  .row
    each portfolio, index in portfolios
      .col.col-md-4.col-lg-3
        .portfolio-card
          .portfolio-head(class=`bg-${portfolio.variant}`)
            span
            span
            span
            span
            span
            span
            span
          .card-body
            h4.card-title 
              a(class=`text-${portfolio.variant}` href=portfolio.link target="_blank")=portfolio.title
            .card-text=portfolio.description
            

h2.text-center Portfolio
  
.project-gallery
  each project, index in portfolios
    .project
      .content.text-center
        a.project-title(href=`${project.link}` target="_blank")=project.title
        p.text-muted=project.description  
        p.actions
          a.btn.btn-outline-primary.btn-sm.w-100(href=`${project.link}` target="_blank") Visit
