doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="icon" type="icon/png" href="./assets/img/logo.png")
        title Kaustubh | Home
        //- link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Livvic&display=swap")
        //- // script(src='https://smtpjs.com/v3/smtp.js')
        //- link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto&display=swap")
        style(type="text/css").
            .preloader {
                position: fixed;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                z-index: 9999;
                background-color: white;
            }
            body.loaded > .preloader {
                display: none;
            }
    body#home
        div.preloader
        header.navbar.navbar-expand-md.navbar-light.bg-white.fixed-top#nav-menu
            //- a.navbar-brand(href="#home") 
            a.navbar-brand(href="/") 
                img.ml-3(src="./assets/img/logo.png")
                b.text-primary austubh
            button.navbar-toggler( type="button" data-toggle="collapse" data-target="#collapse-menu" aria-controls="collapse-menu" aria-expanded="false" aria-label="Toggle navigation")
                span.navbar-toggler-icon
            nav.collapse.navbar-collapse#collapse-menu
                ul.navbar-nav.flex-column
                    //- li.nav-item
                    //-     a.nav-link(href="#home") Home
                    li.nav-item 
                        a.nav-link(href="#about") About Me
                    li.nav-item 
                        a.nav-link(href="#skills") Skills
                    //- li.nav-item 
                    //-     a.nav-link(href="#education") Education
                    //- li.nav-item 
                    //-     a.nav-link(href="#experience") Experience
                    li.nav-item 
                        a.nav-link(href="#portfolio") Portfolio
                    li.nav-item 
                        a.nav-link(href="./blog") Blog
                    li.nav-item 
                        a.nav-link(href="#contact") Contact
        main(data-spy="scroll" data-offset="300" data-target="#nav-menu")
            section#home.text-white
                //- div.random-art.bg-primary
                    span
                    span
                    span
                    span
                    span
                    span
                    span
                    span
                    span
                    span
                    span
                    span
                    span
                    span
                    span
                    span
                    span
                    span
                    span
                div.overlay
                    div.content.w-100
                        //- .container-fluid
                            .row
                                //- .col
                                .col-md-4.col-lg-3.d-flex.align-items-center
                                    div
                                        img.rounded-circle(src="/assets/img/profile.jpg")
                                //- .col
                                .col-md-8.col-lg-9
                                    h3.text-white Hello I'm 
                                    h1.text-white.display-4 Kaustubh Agrawal
                                    h4.text-white(
                                        class="typewrite" 
                                        data-period="2000" 
                                        data-type='["The best design is natural and simple.", "The best animation is invisible.", "The best software solves user\'s problem."]'
                                    )
                                        span.wrap
                        div.text-center
                            h1 Full Stack Developer
                            h4.h5(
                                class="typewrite" 
                                data-period="2000" 
                                data-type='["The best design is natural and simple.", "The best animation is invisible.", "The best software solves user\'s problem."]'
                            )
                                span.wrap
                            div.py-3
                                img.rounded-circle(src="/assets/img/profile.jpg")
            section#about
                div.random-art.bg-primary
                    span
                    span
                    span
                    span
                    span
                    span
                    span
                    span
                    span
                    span
                    span
                    span
                    span
                    span
                    span
                    span
                    span
                    span
                    span
                div.overlay.container
                    div.content.text-white
                        //- div
                        //- h2.title.text-white About Me
                        .container-fluid    
                            .row
                                .col-sm-12.col-lg-8.offset-lg-2.py-5.my-3
                                    div.h5.text-white.py-5.text-center Hello, I'm Kaustubh, a Full Stack Developer. I fell in love with Javascript during my college days, and I have been into Web Design and Development ever since. I'm continuously working on improving design problems one at a time. If you need any help in your websites, you can always reach out to me,   
                                        a.text-white(href="#contact") 
                                            u Click here.
                                    //- .row
                                        .col-sm-6.col-lg-4
                                            .m-2.p-2.text-white.shadow.bg-info I make website, that don't fly.
                                        .col-sm-6.col-lg-4
                                            .m-2.p-2.text-white.shadow.bg-secondary I write code, that don't fail.
                                        .col-sm-6.col-lg-4
                                            .m-2.p-2.text-white.shadow.bg-danger I make website, that don't fly.
                                .col.col-lg-5
            section#skills
                .container
                    .profiency-table 
                        .profiency-section
                            h4.title Front-end Developer 
                            p.py-3 I like to create simple, elegant and interactive websites that leave impressions on the user. 
                            div.my-3
                                h5.text-primary Languages:
                                p HTML, CSS, Javascript, Pug, Typescript, SCSS/SASS, etc.
                            div.my-3
                                h5.text-primary Frameworks & Libraries: 
                                ul.pl-0
                                    li NuxtJs
                                    li Bootstrap
                                    li VueJs
                                    li Angular 8
                                    li jQuery, 
                        .profiency-section 
                            h4.title Back-end Developer
                            p.py-3 I like to code clean and modular applications for fast and maintainable software. 
                            div.my-3
                                h5.text-primary Languages:
                                p NodeJs, C#, PHP, Python, MySQL, MongoDB, etc.
                            div.my-3
                                h5.text-primary Frameworks & Libraries: 
                                ul.pl-0
                                    li Nest Js
                                    li Express Js
                                    li ASP.NET
                                    li Laravel
                                    li Django
                        .profiency-section 
                            h4.title DevOps
                            p.py-3 I prefer to exploit awesome tools to aid development and automate manual processes. 
                            div.my-3
                                h5.text-primary Concepts:
                                p Git, CI/CD, Containers(Docker), Kubernetes
                            div.my-3
                                h5.text-primary Tools & Frameworks: 
                                ul.pl-0
                                    li Github/Gitlab
                                    li Travis CI
                                    li Jenkins CI/CD
                                    li Docker
                                    li Kubernetes
                                    li AWS Basics
            //- section#skills.text-white
                div.random-art.bg-danger
                    span
                    span
                    span
                    span
                    span
                    span
                    span
                    span
                    span
                    span
                    span
                    span
                    span
                    span
                    span
                    span
                    span
                    span
                    span
                    span
                    span
                    span
                    span
                    span
                    span
                .overlay
                    .content
                        h2.title.text-white Skills
                        //- FrontEnd Skills : 
            section#portfolio
                .overlay
                    .content.w-100
                        include includes/portfolio.pug



            section#contact.text-white
                div.random-art.bg-danger
                    span
                    span
                    span
                    span
                    span
                    span
                    span
                    span
                    span
                    span
                    span
                    span
                    span
                    span
                    span
                    span
                    span
                    span
                    span
                    span
                    span
                    span
                    span
                    span
                    span
                .overlay
                    .content.w-100.text-center
                        h2.text-white.pb-4 Say Hello!!
                        .contact-form
                            //- h4.p-2.text-left Leave a Message
                            form.p-2.text-dark(action="https://formspree.io/f/xbjwlkgq" method="POST")
                                // .form-group
                                //     label Name:
                                //     input.form-control(type="text" placeholder="John Doe" required)
                                .form-group 
                                    label Email:
                                    input.form-control( type="email" name="_replyto" placeholder="username@domain.com" required)
                                .form-group 
                                    label Message:
                                    textarea.form-control(name="message" placeholder="Hey, buddy! I am looking forward to have a chat with you. :)" required)
                                button.btn.btn-outline-primary.w-100.my-2(type="submit") Send Message
                                
        footer
