// card.shadow.text-center.mx-auto.mt-3(style="border-radius: 1em; max-width: 30em;")

.contact-form {
  @extend .shadow;
  @extend .mx-auto;
  @extend .card;
  max-width: 30em;
  @extend .p-4;
  
  label {
    @extend .w-100;
    @extend .text-left;
    @extend .font-weight-bold;
  }
}