.profiency-table {
	@extend .border;
	border-radius: 1em;
	// position: relative;
	// top: -10em;
	margin-top: -5em;
	@extend .bg-white;
	@extend .d-flex;
	@extend .flex-column;
  @extend .flex-md-row;
  @extend .shadow;
  
	.profiency-section {
		@extend .text-center;
		@extend .flex-grow-1;
		padding: 2em;

		.title {
			@extend .h5;
			@extend .font-weight-bold;
		}

		&:not(:last-child) {
      @extend .border-right;
      @extend .border-bottom;
		}
	}
}
