
// $purple:  #6B46C1 ;
$red:     #E53E3E ;
// $primary: #3B88C3 ;
// $primary: #6772e5;
$primary: rgb(117, 16, 247);

$headings-color: rgb(50, 50, 93);
$headings-line-height: 1.4em;

$body-color: rgb(82, 95, 127);



$font-family-custom-base: 'Livvic', sans-serif;
$font-family-base: $font-family-custom-base;