body {



    main {
        & > section {
            position: relative;
            & > .overlay {
                min-height: 100vh;
                @extend .d-flex;
                @extend .align-items-center;
                @extend .p-5;
                .content {
                    .title {
                        position: relative;
                        padding-left: .8em;

                        &::before {
                            content: "";
                            left: 0;
                            position: absolute;
                            top: 45%;
                            border-bottom-width: .17em;
                            border-bottom-style: solid;
                            width: .5em;
                        }

                        @include media-breakpoint-up(md) {
                            left: -.8em;
                        }
                    }
                }
                @include media-breakpoint-down(md) {
                    padding-left: 1em!important;
                    padding-right: 1em!important;
                }
            }
        }
    }



    // Responsive
    @include media-breakpoint-up(md) {
        display: flex;
        // flex
        header.navbar {
            min-width: 16em!important;
            // @extend .border-right;
            border-right: $border-width solid $border-color !important
        }
        & > main {
            height: 100vh;
            overflow-y: auto;
            // flex: 1 1 auto !important;
            flex-grow: 1;
        }
    }
}

